<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {% for item in site.social %}
        <li>
          <a class="text-gray-800 hover:text-purple-600 no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="{% if isFront %}#home{% else %}{{ site.baseURL }}/#home{% endif %}">Home</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="{% if isFront %}#learn{% else %}{{ site.baseURL }}/#learn{% endif %}">Learn</a>
      </li>
    </ul>
  </div>
</footer>
{# <div class="w-full">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; AWE.SOME
  </span>
</div> #}
<div class="">
  <a
    id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-purple-600 hover:bg-gray-200
      hover:text-purple-600 hover:border-browngray no-underline px-6 py-1 bg-purple-600 shadow-md"
    href="#home"
    title="Back to Top">UP</a>
</div>
{# <div class="fixed bottom-0 left-0 m-6">
  <a
    href="https://github.com/ttntm/11ty-landing-page"
    target="_blank"
    rel="noopener"
    title="Get this theme @ GitHub"
    class="block rounded-full bg-black text-purple-600 hover:bg-white hover:text-black shadow-md p-4">
    <img src="./img/github.svg" width="30" height="30" class="block" alt="GitHub icon"></a>
  </div> #}
