{% for item in collections.sections %}
  {% if item.data.type === 'mission' %}
    <div id="mission" class="flex flex-col justify items-center pb-12 bg-halloween-ghost">
      <div class="lg:h-[calc(100vh-104px)] self-center flex flex-col text-center w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
        <div class="flex flex-col justify-center h-full py-12">
          <h2 class="font-bold tracking-wider text-halloween-cauldron text-4xl mb-4">{{ item.data.title }}</h2>
          <p class="text-center text-xl mb-8">Your main missions in this ghostly challenge are:</p>
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            {% for item in missions %}
              <div class="md:w-1/3 p-4 bg-halloween-white shadow-lg rounded transform transition-transform duration-300 ease-in-out
                  hover:-translate-y-2 hover:shadow-xl">
                <img src="./img/{{ item.icon }}" alt="{{ item.title }}" class="w-1/2 mx-auto my-4 rounded"/>
                <h2 class="tracking-wide text-halloween-cauldron font-bold text-2xl uppercase mb-0">{{ item.title }}</h2>
                <p class="font-dark text-color-black text-lg sm:w-2/3 mx-auto my-2">
                  {{ item.description }}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
