<div id="home" class="flex flex-col justify-center bg-white">
  <div class="lg:h-[calc(100vh-104px)] self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-3/4 px-4 sm:px-0">
    <div class="w-full sm:w-1/2">
      <img src="./img/bunny_halloween.svg"/>
    </div>
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-halloween-witchHat text-2xl mb-6">
        CSIT Mini Challenge
      </h1>
      <h2 class="text-halloween-pumpkin font-bold tracking-widest text-4xl">
        Debug the Haunted Pipeline!
      </h2><br/>
      <p class="font-light text-black text-xl text-justify">
        <span class="text-halloween-wickedPurple font-bold italic">
          Mighty Saver Rabbit
        </span>
        has a spooky task for you this time around. As a festive enthusiast, he has been tasked with creating a
        <span class="text-halloween-cauldron font-bold">
          FastAPI application
        </span>
        for the upcoming Halloween. The application provides API endpoints to display Halloween messages and locate the nearest
        haunted house or event based on the MRT station users provide.
        <br/> <br/> He managed to set up a GitLab CI/CD pipeline that should consist of three jobs:
        <span class="text-red-700 font-bold">
          Lint
        </span>
        ,
        <span class="text-red-700 font-bold">
          Test
        </span>
        , and
        <span class="text-red-700 font-bold">
          Build
        </span>
        . However, the pipeline has run into some eerie issues, causing all jobs to
                fail.
      </p>
    </p>
  </div>
</div>
