{% for item in collections.sections %}
  {% if item.data.type === 'story' %}
    <div id="story" class="flex flex-col justify-center pb-12 bg-halloween-potion">
      <div class="lg:h-[calc(100vh-104px)] self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
        <div class="flex flex-col justify-center h-full py-12">
          <div class="self-center items-center flex flex-col sm:flex-row w-full  px-4 sm:px-0">
            <div class="flex-col self-center text-left w-full sm:w-2/3 xl:w-6/7 ml-auto col-span-1">
              <h2 class="font-bold tracking-wider text-halloween-deepOrange text-4xl mb-4">{{ item.data.title }}</h2>
              <div class="font-light text-white text-xl text-justify">
                {{ item.templateContent | safe }}
              </div>
              <br>
                <div class="flex flex-row w-full justify-center pb-12">
                  <a
                    class="px-10 py-2 text-gray-200 bg-halloween-deepOrange rounded-full shadow-md text-2xl hover:bg-halloween-hoverOrange
                      hover:border-red"
                    target="_blank"
                    href="https://go.gov.sg/ndpbunny">Fork Repo!</a>
                </div>
              </div>
              <div class="col-span-1 w-1/2">
                <img src="./img/bunny_help.svg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
