{% for item in collections.sections %}
  {% if item.data.type === 'learn' %}
    <div id="learn" class="flex flex-col justify-center pb-8 bg-halloween-potion">
      <div class="self-center items-center flex flex-col sm:flex-col w-full px-4 sm:px-0">
        <div class="flex flex-col w-full justify-center h-full pt-12">
          <div class="w-1/2 self-center text-center h-full">
            <h2 class="tracking-wide text-halloween-deepOrange font-bold text-4xl mb-4">{{ item.data.title }}</h2>
            <div class="font-light text-white text-xl mb-6">
              {{ item.templateContent | safe }}
            </div>
          </div>
          <div class="self-center w-full flex flex-col sm:flex-row flex-wrap px-6 xl:px:0">
            {% for item in features %}
              <div class="w-full sm:w-1/2 flex flex-row flex-no-wrap rounded transform transition-transform duration-300 ease-in-out
                  hover:-translate-y-2 hover:bg-halloween-coolPurple px-4 sm:px-8 py-2 sm:py-12">
                <div class="w-2/3 xl:w-1/4">
                  <img src="./img/features/{{ item.icon }}" alt="{{ item.title }}" class="w-16 block sm:mx-auto"/>
                </div>
                <div class="w-2/3 xl:w-3/4">
                  <h3 class="tracking-wide text-halloween-deepOrange font-bold text-2xl uppercase mb-2">{{ item.title }}</h3>
                  <div class="font-light text-halloween-ghost text-lg">
                    {{ item.description }}
                    <ul class="list-disc ml-8">
                      {% for link in item.links %}
                        <li>
                          <a href="{{ link.url | safe }}" class="text-halloween-deepOrange hover:underline">{{ link.title | safe }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="self-center text-center w-full sm:w-1/2 px-4 sm:px:0">
        <h4 class="font-bold tracking-widest text-halloween-pumpkin text-2xl my-6">These resources should provide a strong
          foundation and help you troubleshoot issues as you progress through the challenge. Good luck!</h4>
      </div>
    </div>
  {% endif %}
{% endfor %}
