{% for item in collections.sections %}
  {% if item.data.type === 'submission' %}
    <div id="submission" class="flex flex-col justify items-center pb-12 bg-halloween-ghost">
      <div class="lg:h-[calc(100vh-104px)] self-center flex flex-col text-center w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
        <div class="flex lg:flex-row flex-col justify-center h-full py-12">
          <div class="self-center items-center w-1/2 px-4 sm:px-0">
            <img src="./img/cute-ghost-pana.svg"/>
          </div>
          <div class="w-2/3 self-center">
            <h2 class="font-bold tracking-wider text-left text-halloween-cauldron text-4xl mb-4">{{ item.data.title }}</h2>
            <div class="font-light text-white text-xl text-justify">
              {{ item.templateContent | safe }}
            </div>
            <br/>
            <div class="flex flex-row w-full justify-center pb-12">
              <a
                class="px-10 py-2 text-gray-200 bg-halloween-cauldron rounded-full shadow-md text-2xl hover:bg-halloween-coolGreen
                  hover:border-red"
                target="_blank"
                href="https://go.gov.sg/ndpbunny">Submit Your Charms!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
